includes:
    - vendor/symplify/phpstan-rules/config/symfony-rules.neon
    - vendor/symplify/phpstan-rules/config/services-rules.neon
    - vendor/symplify/phpstan-rules/config/naming-rules.neon
    - vendor/symplify/phpstan-rules/config/test-rules.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
        - tests/bootstrap.php
    parallel:
        maximumNumberOfProcesses: 10

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    banned_code:
        nodes:
            # enable detection of echo
            -
                type: Stmt_Echo
                functions: null

            # enable detection of die/exit
            -
                type: Expr_Exit
                functions: null

            # enable detection of a set of functions
            -
                type: Expr_FuncCall
                functions:
                    - dd
                    - debug_backtrace
                    - dump
                    - exec
                    - passthru
                    - phpinfo
                    - print_r
                    - proc_open
                    - shell_exec
                    - system
                    - var_dump

    ignoreErrors: ~