<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <source>
        <include>
            <directory>src/</directory>
        </include>
        <exclude>
            <directory>src/DependencyInjection/SymfonyVersionChecker</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="WatchdogBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="Raneomik\WatchdogBundle\Tests\Integration\Kernel"/>
        <env name="SYMFONY_DECRYPTION_SECRET" value="$_test"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>


</phpunit>
